body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 20px 7% 0 7%;
}
#HrdGym{
    color: tomato;
}
.welcome-section{
    display: flex;
}
.half-space{
    width: 50%;
    text-align: justify;
}
.half-space img{
    margin: 5% 0 0 25%;
    width: 70%;
}
.coach-section{
    display: flex;
}
#srv{
    width: 100%;
    position: relative;
    left: -34%;
    margin-top: -17%;
    /* float: right; */
}
#gym-training{
    width: 80%;
    float: right;
    margin-top: 5%;
}